// Fonts

$font-main: 'Hind', sans-serif;
$font-headers: 'Kalam', cursive;
$font-logo: 'Bangers', cursive;

// Sizes

$radius: 5px;

// Colors

$color-secondary: rgba(235, 142, 23, 1);
$color-primary-light: rgba(23, 116, 235, 1);
$color-primary-dark: rgba(10, 58, 120, 1);
$color-primary-background: rgba(255, 255, 255, 1);
$color-secondary-background: rgba(202, 229, 255, 1);

$color-text: #464646;
