.homepage-header {
  background-color: $color-primary-background;
  position: relative;
  height: 600px;
  width: 100vw;
  padding: 0;

  &-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &-title {
    font-family: $font-headers;
    color: $color-primary-dark;
    text-shadow: 1px 1px 1px #000000;
    font-size: 100px;
    margin: 0;
    padding: 0;
  }
}

.page-header {
  background-color: $color-primary-dark;
  padding: 5px 0;

  div {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.header__contact {
  a {
    margin-left: 15px;
    font-size: 20px;
  }
}

.logo {
  font-family: $font-headers;
  font-size: 30px;
}
