*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: $font-main;
  color: $color-text;
  margin: 0;
  padding: 0 0 70px 0;
  background: $color-primary-background;
}

h1, h2, h3, h4, h5,h6 {
  color: black;
}

section {
  padding: 30px 0;
}

a {
  color: $color-text;
  text-decoration: none;
}

.underlined {
  text-decoration: underline;
}

.headers {
  font-family: $font-headers;
}

.container {
  margin: 0 auto;
  max-width: 1100px;

  &-single {
    max-width: 760px;
    margin: 20px auto 0;
  }
}
