.postbox {
  &-box {
    border-radius: $radius;
    flex-basis: 0;
    flex-grow: 1;
    width: 350px;
    height: 90%;
    margin-bottom: 20px;
    border-bottom: 1px solid $color-secondary-background;
    border-right: 1px solid $color-secondary-background;
    border-left: 1px solid $color-secondary-background;
  }

  &-img img {
    object-fit: cover;
    border-radius: $radius $radius 0 0;
    width: 100%;
    height: 200px;
  }

  &-txt {
    padding: 10px 20px;
  }

  &-title {
    font-size: 23px;
  }
}
