.single {
  &-top {
    position: relative;

    img {
      width: 768px;
    }
  }

  &-fimg {
    border-radius: $radius;
  }

  &-title {
    position: absolute;
    font-family: $font-headers;
    top: 50%;
    padding: 40px 20px 40px 5px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  &-content {
    figure {
      margin-left: 0;
    }

    figcaption {
      font-style: italic;
    }

    a {
      text-decoration: underline;
      color: $color-secondary;
    }

    h2 {
      font-size: 25px;
    }

    p {
      font-size: 20px;
    }
  }

  &-similarposts {
    display: flex;
    margin-bottom: 10px;
    align-items: center;

    &-link {
      text-decoration: none !important;
    }

    img {
      width: 70px;
      height: 60px;
      object-fit: cover;
    }

    h3 {
      margin: 0 0 0 10px;
    }
  }
}
